@import url("https://fonts.googleapis.com/css?family=Open%20Sans");
@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
    background-color: #121213;
    color: white;
    font-family: 'Poppins', serif;
}

.status-correct {
    background-color: rgb(127, 219, 255);
    border: 2px solid rgb(127, 219, 255) !important;
}

#container {
    width: 100%;
    text-align: center;
}

hr {
    height: 1px;
    background-color: gray;
    border: none;
}

#playContainer {
    margin-top: 5%;
    text-align: center;
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.tile {
    height: 60px;
    width: 55px;
    border: 2px solid gray;
    display: inline-block;
    margin: 3px;
    font-size: 40px;
    font-family: 'Poppins', serif;
    font-weight: 600;
    --animate-duration: 0.8s;
    text-transform: uppercase;
    vertical-align: middle;
}

br {
    display: block;
    content: "";
    margin: 10px;
}

.keyboard-button {
    font-family: 'Poppins', serif;
    text-transform: uppercase;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 2px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin: 3.5px;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

#keyboard {
    margin-top: 50px;
}

